<main class="wrapper">
  <div class="card">
    <h2 class="text-lg font-bold">Note 1</h2>
    <p class="text-slate-600">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis quae 
      tempora ex, rerum optio voluptas accusantium non repellendus perferendis eos
      voluptates error at pariatur possimus distinctio quos quisquam impedit?
    </p>
  </div>
  <div class="card">
    <h2 class="text-lg font-bold">Note 2</h2>
    <p class="text-slate-600">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit facilis quae 
      tempora ex, rerum optio voluptas accusantium non repellendus perferendis eos
      voluptates error at pariatur possimus distinctio quos quisquam impedit?
    </p>
  </div>
  <button class="primary">+ New Note</button>
</main>